# Maven wrapper y scripts
/mvnw text eol=lf
*.cmd text eol=crlf

# Frontend Angular: siempre LF
*.ts text eol=lf
*.cy text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.json text eol=lf

# Configuración y otros textos
*.yml text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.txt text eol=lf