<form [formGroup]="passwordForm" (ngSubmit)="submitPassword()" class="space-y-4">
	<input
		formControlName="newPassword"
		type="password"
		placeholder="newPassword"
		class="text-inputs"
	/>

	<div class="text-red-600 text-sm">
		@if (getNewPassword()?.invalid && getNewPassword()?.touched) {
			<small>The new password is required</small>
		}
	</div>

	<button type="submit" class="app-button w-full">CONFIRM</button>

	@if (showSuccess) {
		<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative">
			<p>{{ successMessage }}</p>
			<button
				class="mt-2 bg-green-500 text-white px-4 py-1 rounded hover:bg-green-600 transition"
				[routerLink]="'/auth'" [queryParams]="{ form: 'login '}">
				Confirm
			</button>
		</div>
	}

	@if (errorMessage) {
		<p class="text-red-600 text-sm mt-2">{{ errorMessage }}</p>
	}
</form>