<div class="app-modal-background animate-fadeIn">
    <div class="relative w-full max-w-md p-6">
        <div class="relative bg-white dark:bg-gray-900 rounded-2xl shadow-xl p-6 text-center animate-scaleIn">

            <!-- Loading Icon -->
			<div class="w-14 h-14 rounded-full bg-blue-100 dark:bg-blue-800 flex items-center justify-center mx-auto mb-4">
				<mat-spinner></mat-spinner>
			</div>

            <!-- Message -->
            <p class="text-lg font-semibold text-gray-800 dark:text-white mb-4">
                {{ message }}
            </p>
        </div>
    </div>
</div>