<div class="min-h-screen app-background flex flex-col items-center justify-center gap-8 p-6">
	<h1 class="text-3xl font-semibold text-blue-600 dark:text-blue-400">
		{{ username }}
	</h1>

	<div class="flex flex-row items-center justify-center gap-5">
		<app-profile-buttons [content]="'Logout'" (confirm)="openModal('logout')"></app-profile-buttons>
		<app-profile-buttons [content]="'Delete Account'" (confirm)="openModal('delete')"></app-profile-buttons>
	</div>

	@if (activeAction) {
		<app-remove-confirmation-modal
			[title]="
				activeAction === 'logout'
					? 'Are you sure you want to log out?'
					: 'Are you sure you want to delete your account?'
			"
			[contentMessage]="
				activeAction === 'logout'
					? 'You will be signed out of your account and will need to log in again to continue.'
					: 'Your account will be deleted from the system and this is an irreversible change.'
			"
			[buttonContent]="activeAction === 'logout' ? 'Yes, Logout' : 'Yes, Delete'"
			[isDelete]="activeAction === 'delete'"
			(confirm)="confirm()"
			(cancel)="cancel()"
		></app-remove-confirmation-modal>
	}
</div>