<div class="w-full max-w-5xl team-section-container space-y-12 animate-fade-in">
    <h2 class="text-xl text-center app-page-titles">Edit {{ player.name }}</h2>

	<div class="flex justify-start mr-24 mt-24">
		<div class="grid grid-cols-1 lg:grid-cols-3 items-start gap-4">
			<!-- Picture -->
			<div class="flex justify-center lg:justify-start">
				<div class="p-4 rounded-xl shadow-md border border-gray-300 dark:border-gray-600 bg-gray-50 dark:bg-gray-700 flex flex-col items-center space-y-4">
					<img
						[src]="player.picture.url"
						alt="{{ player.name }} picture"
						class="w-36 h-36 object-contain rounded-full"
					/>

					<div class="flex flex-col items-center space-y-2 w-full">
						<label class="w-full">
							<input
								type="file"
								accept=".webp"
								(change)="handleFileUpload($event)"
								class="hidden"
							/>
							<span class="px-3 py-2 ml-2.5 app-button hover:scale-[1.02]">
								Change Picture
							</span>
						</label>
						<p class="text-xs text-gray-600 dark:text-gray-300 text-center">Only .webp images are allowed</p>
					</div>
				</div>
			</div>

			<!-- Basic Info -->
			<div class="lg:col-span-2 grid grid-cols-2 md:grid-cols-3 gap-4">
				<div class="flex flex-col">
					<label class="text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">Number</label>
					<input
						type="number"
						[(ngModel)]="formInputs.number"
						[placeholder]="player.playerNumber"
						class="px-3 py-2 rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-center text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
					/>
				</div>

				<div class="flex flex-col">
					<label class="text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">Position</label>
					<select
						[(ngModel)]="formInputs.position"
						class="px-3 py-2 rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
					>
						@for (pos of availablePositions; track pos) {
							<option [value]="pos">{{ pos }}</option>
						}
					</select>
				</div>

				<div class="flex flex-col">
					<label class="text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">Team</label>
					<button type="button" (click)="showTeamsModal()" class="px-3 py-2 app-button h-10 group tracking-widest">
						<span class="app-button-bright"></span>
						<span class="app-button-texts !text-sm">{{ formInputs.teamName }}</span>
					</button>
				</div>
			</div>
		</div>
	</div>

    <!-- Editables Stats -->
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
        @if (validationService.isPitcher(player)) {
            @for (field of pitcherEditableFields; track field.key) {
                <div class="flex flex-col">
                    <label class="text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">{{ field.label }}</label>
                    <input
                        type="number"
                        [(ngModel)]="formInputs[field.key]"
                        [placeholder]="player[field.key]"
                        class="px-3 py-2 rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
                    />
                </div>
            }
        }
        @else {
            @for (field of positionPlayerEditableFields; track field.key) {
                <div class="flex flex-col">
                    <label class="text-sm font-medium text-gray-600 dark:text-gray-300 mb-1">{{ field.label }}</label>
                    <input
                        type="number"
                        [(ngModel)]="formInputs[field.key]"
                        [placeholder]="player[field.key]"
                        class="px-3 py-2 rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
                    />
                </div>
            }
        }
    </div>

    <!-- Non Editables Stats -->
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 justify-items-center mt-10">
        @if (validationService.isPitcher(player)) {
			@for (field of pitcherReadonlyFields; track field.key) {
				<div class="w-full p-4 bg-gray-50 dark:bg-gray-700 rounded-xl shadow text-center">
					<p class="text-lg font-bold text-gray-800 dark:text-white">{{ player[field.key] }}</p>
					<p class="text-sm text-gray-600 dark:text-gray-300">{{ field.label }}</p>
				</div>
			}
        }
        @else {
            @for (field of positionPlayerReadonlyFields; track field.key) {
                <div class="w-full p-4 bg-gray-50 dark:bg-gray-700 rounded-xl shadow text-center">
                    <p class="text-lg font-bold text-gray-800 dark:text-white">{{ player[field.key] }}</p>
                    <p class="text-sm text-gray-600 dark:text-gray-300">{{ field.label }}</p>
                </div>
            }
        }
    </div>

    <!-- Actions -->
    <div class="flex flex-row sm:flex-row justify-between items-center gap-4 mt-12">
		<div class="flex justify-start gap-4 pt-6">
			<button class="px-4 py-2 w-full sm:w-auto app-red-buttons group tracking-widest" (click)="showDeleteConfirmationModal = true">
				<span class="app-button-bright"></span>
				<span class="app-button-texts">Delete Player</span>
			</button>
		</div>
        <app-action-buttons (goBack)="goToEditMenu()" (confirm)="confirm()"></app-action-buttons>
    </div>

	<app-select-element-modal
		[teamElements]="true"
		[openModal]="selectTeamButtonClicked"
		[isClose]="isClose"
		[hasMore]="selector.hasMore"
		[elements]="(selector.items$ | async) ?? []"
		(select)="selectTeam($event)"
		(loadNextPageFunction)="loadNextPage()"
		(closeModal)="closeTeamModal()"
		[appEscapeClose]="closeTeamModal">
	</app-select-element-modal>

    <!-- Modals -->
    @if (success) {
        <app-success-modal [message]="successMessage" (continue)="success = false"></app-success-modal>
    }

	@if (finish) {
		<app-success-modal [message]="'Changes applied successfully'"(continue)="goToEditMenu()"></app-success-modal>
	}

	@if (loading) {
		<app-loading-modal [message]="'Uploading the image...'"></app-loading-modal>
	}

	@if (showDeleteConfirmationModal) {
		<app-remove-confirmation-modal
			[title]="'Are you sure you want to remove' + player.name + ' from the league?'"
			[contentMessage]="'Deleting a player implies that he retires from the MLB. Are you sure you want to proceed?'"
			[buttonContent]="'Yes, Remove'"
			[isDelete]="true"
			(confirm)="deletePlayer()"
			(cancel)="showDeleteConfirmationModal = false">
		</app-remove-confirmation-modal>
	}

    @if (error) {
        <app-error-modal [title]="errorMessage" (cancel)="error = false"></app-error-modal>
    }
</div>