<section class="rounded-md p-4 w-full max-w-md mx-auto bg-gradient-to-b from-blue-950 via-indigo-950 to-slate-950 shadow-md">
    <div class="flex items-center justify-between mb-4">
        <button
            (click)="previous()"
            class="text-lg px-2 py-1 bg-white/10 text-white rounded hover:bg-white/20 transition"
            aria-label="Previous"
        >
            ←
        </button>
        <h2 class="text-lg px-3 py-2 font-semibold text-white text-center flex-1">
            {{ standings[currentIndex].league }} - {{ standings[currentIndex].division }}
        </h2>
        <button
            (click)="next()"
            class="text-lg px-2 py-1 bg-white/10 text-white rounded hover:bg-white/20 transition"
            aria-label="Next"
        >
            →
        </button>
    </div>

    <div class="overflow-x-auto rounded-md bg-gray-100 shadow-sm">
        <table class="w-full text-sm text-gray-800">
            <thead class="bg-gray-200 text-gray-600">
                <tr>
                    <th class="px-2 py-1 text-left">Logo</th>
                    <th class="px-2 py-1 text-left">Team</th>
                    <th class="px-2 py-1 text-center">G</th>
                    <th class="px-2 py-1 text-center">W</th>
                    <th class="px-2 py-1 text-center">L</th>
                    <th class="px-2 py-1 text-center">PCT</th>
                    <th class="px-2 py-1 text-center">GB</th>
                    <th class="px-2 py-1 text-center">L10</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-300">
                @for (team of standings[currentIndex].teams; track team.abbreviation) {
                <tr class="hover:bg-gray-50 transition">
                    <td class="px-2 py-1">
                        <img
                            src="assets/team-logos/{{ team.abbreviation }}.png"
                            alt="{{ team.abbreviation }}"
                            class="w-6 h-6 object-contain"
                        />
                    </td>
                    <td class="px-2 py-1 font-medium">{{ team.abbreviation }}</td>
                    <td class="px-2 py-1 text-center">{{ team.totalGames }}</td>
                    <td class="px-2 py-1 text-center">{{ team.wins }}</td>
                    <td class="px-2 py-1 text-center">{{ team.losses }}</td>
                    <td class="px-2 py-1 text-center">{{ team.pct }}</td>
					@if (team.gamesBehind === 0) {
						<td class="px-2 py-1 text-center">-</td>
					}
					@else {
						<td class="px-2 py-1 text-center">{{ team.gamesBehind }}</td>
					}
                    <td class="px-2 py-1 text-center">{{ team.lastTen }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>