<div class="auth-container">
  <div class="auth-inputs-panel grid grid-cols-1 md:grid-cols-2">
    <!-- Left Form Panel with Slide -->
    <div class="relative overflow-hidden">
      <div
        class="flex w-[300%] transition-transform duration-700 ease-in-out"
        [ngStyle]="{
          transform:
            currentStep === 'email'
              ? 'translateX(0%)'
              : currentStep === 'code'
              ? 'translateX(-33.3333%)'
              : 'translateX(-66.6666%)'
        }"
      >
        <!-- Email -->
        <div class="w-1/3 flex-shrink-0 flex items-center justify-center p-8">
          <div class="w-full max-w-md">
            <h2 class="auth-main-title">Password Recovery</h2>
            <app-email-phase (emailSent)="handleEmailSent()" />
          </div>
        </div>

        <!-- Code -->
        <div class="w-1/3 flex-shrink-0 flex items-center justify-center p-8">
          <div class="w-full max-w-md">
            <h2 class="auth-main-title">Enter Verification Code</h2>
            <app-code-phase (codeConfirmed)="handleCodeConfirmed($event)" />
          </div>
        </div>

        <!-- Password -->
        <div class="w-1/3 flex-shrink-0 flex items-center justify-center p-8">
          <div class="w-full max-w-md">
            <h2 class="auth-main-title">Set New Password</h2>
            <app-password-phase [code]="recoveryCode" />
          </div>
        </div>
      </div>
    </div>

    <!-- Right Info Panel -->
    <div class="auth-panel text-center flex flex-col items-center justify-center">
      @if (currentStep === 'email') {
        <div>
          <h2 class="text-3xl font-bold mb-4">Recover your Access!</h2>
          <p class="mb-6 text-center text-2xl">
            Enter your email to reset your password
          </p>
        </div>
      }
      @if (currentStep === 'code') {
        <div>
          <h2 class="text-3xl font-bold mb-4">Enter your Code</h2>
          <p class="mb-6 text-center text-2xl">
            Check your inbox and enter the 4-digit code
          </p>
        </div>
      }
      @if (currentStep === 'password') {
        <div>
          <h2 class="text-3xl font-bold mb-4">Set a New Password</h2>
          <p class="mb-6 text-center text-2xl">
            Choose a secure password to restore access
          </p>
        </div>
      }
    </div>
  </div>
</div>