name: Nightly Backend

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

env:
  CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
  CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
  CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
  JAVA_VERSION: "21"

jobs:
  build-backend:
    name: Backend Build CQ
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Server Compile
        run: mvn clean compile
        working-directory: ./backend

  backend-unit-tests:
    name: Unit Tests Backend
    runs-on: ubuntu-latest
    needs: build-backend
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Run Unit Tests
        run: mvn test -Dsurefire.excludes="**/integration/**,**/e2e/**"
        working-directory: ./backend

  backend-integration-tests:
    name: Integration Tests Backend
    runs-on: ubuntu-latest
    needs: backend-unit-tests
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Run Integration Tests
        run: mvn test -Dsurefire.excludes="**/unit/**,**/e2e/**"
        working-directory: ./backend

  backend-e2e-tests:
    name: E2E Tests Backend
    runs-on: ubuntu-latest
    needs: backend-integration-tests
    env:
      MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
      MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Run E2E Tests
        run: mvn test -e -Dsurefire.excludes="**/integration/**,**/unit/**"
        working-directory: ./backend
